.content {
  width: (100%, 200px);
  padding: 20px;
  margin-left: 200px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.uk-button {
  float: right;
}


.content2 {
  border-radius: 10px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
  height: 80vh;
  // width: ;
  border: 1px solid #FCFBFB;
}

.title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.referencias {
  margin: 1rem;

  p {
    padding: 1rem;
    font-size: 2.4vh;
    cursor: pointer;
  }
}


@media screen and (max-width: 780px) {
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  .content2 {
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
    height: 100%;
    border: 1px solid #FCFBFB;
  }


}
