<app-side-menu></app-side-menu>

<div class="content">
  <div class="container mb-5">
    <div class="row mt-5">
      <div class="col-md-8">
        <h1>{{works.nome}}</h1>
      </div>

      <div class="col-md-4">
        <p uk-margin>
          <button class="uk-button uk-button-danger" (click)="createReference()">Nova Referência</button>
        </p>
      </div>
    </div>
  </div>

  <div class="container content2">
    <div class="title">
      <h2>Refêrencias</h2>
    </div>
    <div class="container">
      <div class="referencias" *ngFor="let referencias of referencias_list">
        <div *ngIf="referencias_list.length <= 1">
          <p>{{referencias}}</p>
        </div>
        <div *ngIf="referencias != 'Você não tem nenhuma referência'">
          <p>{{referencias}}</p>
        </div>

      </div>
    </div>

  </div>
</div>
