.content {
  width: (100%, 200px);
  padding: 20px;
  margin-left: 200px;
  // background-position: center;
  // background-size: cover;
  transition: 0.5s;
}


.content2 {
  border-radius: 10px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
  // height: 100%;
  border: 1px solid #e9e9e9;
}

.uk-form-stacked {
  padding: 10px;
}

.title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 2.5vh;
  }

}

.butao {
  margin: auto 0;
}

.buttaozao {
  display: flex;
}




@media screen and (max-width: 780px) {
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  .content2 {
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
    height: 100%;
    border: 1px solid #FCFBFB;
  }

}
