<app-side-menu></app-side-menu>
<div class="content">
  <div class="container mt-4">
    <!-- <h1 class="mb-5">Estágio Supervisionado</h1> -->
    <div class="row  uk-margin">
      <div class="col-md-6">
        <div class="uk-margin-small-bottom">
          <label class="uk-form-label" for="form-stacked-select">Selecione o tipo</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select" [(ngModel)]="type_reference"
              (change)="changeType($event)">
              <option value="1">Artigo e/ou matéria de jornal</option>
              <!-- <option value="3">Homepage</option> -->
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="uk-margin-small-bottom">
          <label class="uk-form-label" for="form-stacked-select">Meio de publicação</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select" [(ngModel)]="meio_publicacao"
              (change)="changeMedium($event)">
              <option value="impresso">Impresso</option>
              <option value="online">Online</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of referencias">
    <p>{{item}}</p>
  </div>
  <div class="container content2">

    <div class="title">
      <h2>Preencha os campos com os dados correspondentes</h2>
    </div>

    <div class="inputs">
      <form [formGroup]="form" class="uk-form-stacked">
        <div class="row uk-margin ">
          <!-- <div class="">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Primeiro Nome</label>
              <div class="uk-form-controls showInputField">
              </div>
            </div>
          </div> -->
          <div class="col-sm">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Primeiro Nome</label>
              <div class="uk-form-controls ">
                <input formControlName="firstname" class="uk-input" id="form-stacked-text" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Ultimo nome</label>
              <div class="uk-form-controls">
                <input formControlName="lastname" class="uk-input" id="form-stacked-text" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm buttaozao">
            <p class="uk-margin butao">
              <button class="uk-button uk-button-danger  uk-button-small" (click)="add()">Adicionar Autor</button>
            </p>
          </div>
        </div>

        <!-- RESTO DO FORM -->

        <div class=" uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Título do artigo ou da matéria*</label>
          <div class="uk-form-controls">
            <input formControlName="article_title" class="uk-input" id="form-stacked-text" type="text">
            <app-validation-message [control]="form.get('article_title')" [fieldName]="'Títutlo do artigo'">
            </app-validation-message>
          </div>
        </div>

        <div class=" uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Subtítulo</label>
          <div class="uk-form-controls">
            <input formControlName="subtitle" class="uk-input" id="form-stacked-text" type="text">

          </div>
        </div>

        <div class=" uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Título do periódico*</label>
          <div class="uk-form-controls">
            <input formControlName="periodic" class="uk-input" id="form-stacked-text" type="text">
            <app-validation-message [control]="form.get('periodic')" [fieldName]="'Títutlo do artigo'">
            </app-validation-message>
          </div>
        </div>

        <div class="row uk-margin">
          <div class="col-md-6 ">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Local de Publicação</label>
              <div class="uk-form-controls">
                <input formControlName="location" class="uk-input" id="form-stacked-text" type="text">
              </div>
            </div>

          </div>
          <div class="col-md-6 ">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Data de publicação*</label>
              <div class="uk-form-controls">
                <div class="uk-form-controls">
                  <input formControlName="public_date" class="uk-input" id="form-stacked-text" >
                </div>
                <app-validation-message [control]="form.get('public_date')" [fieldName]="'Data de Publicação'">
                </app-validation-message>
              </div>
            </div>
          </div>
        </div>

        <div class="row uk-margin">
          <div class="col-md-3 ">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Volume</label>
              <div class="uk-form-controls">
                <input formControlName="volume" class="uk-input" id="form-stacked-text" type="text">
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Nº da edição</label>
              <div class="uk-form-controls">
                <input formControlName="edition_number" class="uk-input" id="form-stacked-text" type="text">
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Página inicial*</label>
              <div class="uk-form-controls">
                <input formControlName="first_page" class="uk-input" id="form-stacked-text" type="text">
                <app-validation-message [control]="form.get('first_page')" [fieldName]="'Página Inicial'">
                </app-validation-message>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <label class="uk-form-label" for="form-stacked-text">Página Final*</label>
              <div class="uk-form-controls">
                <input formControlName="last_page" class="uk-input " id="form-stacked-text" type="text">
                <app-validation-message [control]="form.get('last_page')" [fieldName]="'Página Final'">
                </app-validation-message>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
        <div *ngIf="meio_publicacao == 'online'">
          <div class="row uk-margin">
            <div class="col-md-6 ">
              <div>
                <label class="uk-form-label" for="form-stacked-text">Disponível em</label>
                <div class="uk-form-controls">
                  <input formControlName="available_at" class="uk-input " id="form-stacked-text" type="text">

                </div>
              </div>
            </div>

            <div class="col-md-6 ">
              <div>
                <label class="uk-form-label" for="form-stacked-text">Acesso em</label>
                <div class="uk-form-controls">
                  <!-- <input formControlName="acces_at" class="uk-input " id="form-stacked-text" type="month"> -->
                  <input formControlName="acces_at" class="uk-input" id="form-stacked-text" >

                </div>
              </div>
            </div>

          </div>


        </div>

        <div class="row uk-margin">
          <div class="col-md-6">
            <p class="uk-margin-top">
              <button class="uk-button uk-button-default uk-width-1-1" routerLink="/dashboard">Cancelar</button>
            </p>
          </div>
          <div class="col-md-6 ">
            <p class="uk-margin-top" *ngIf="type_reference == '1'">
              <button class="uk-button uk-button-danger  uk-width-1-1" (click)="formatArtigo()">Salvar
                Referência</button>
            </p>
          </div>
          <div class="col-md-6">
            <p class="uk-margin-top" *ngIf="type_reference == '2'">
              <button class="uk-button uk-button-danger  uk-width-1-1" (click)="formatArtigo()"
                [disabled]="form.valid">Salvar Referência</button>
            </p>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
