<!--mobile navigation bar start-->

<!--mobile navigation bar end-->

<!--sidebar start-->


<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <span uk-icon="icon: file-text; ratio: 2"></span>
        <span class="link-text">Trabalhos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <span uk-icon="icon: user; ratio: 2"></span>
        <span class="link-text">Perfil</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <span uk-icon="icon: cog; ratio: 2"></span>
        <span class="link-text">Configurações</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)= "logout()">
        <span uk-icon="icon: sign-out; ratio: 2"></span>
        <span class="link-text">Sair</span>
      </a>
    </li>
  </ul>
</nav>

<main></main>

<!--sidebar end-->
