:root {
  --bg-primary: #0D1926;
  --bg-secondary: #1EE79E;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: absolute;
  background-color: #0D1926;
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
  color: #1EE79E;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 50;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #0e1e30;
  width: 15rem;
  color: #1EE79E;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.navbar:hover {
  width: 16rem;

}

.navbar:hover .link-text {
  display: block;
}


// small screen
@media only screen and (max-width: 600px) {

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
  }

  .navbar-nav {
    flex-direction: row;
    height: 0;
  }

  .nav-link {
    justify-content: center;
    height: 0;
    width: 5rem;
    margin-bottom: 0;
    margin: 0 auto;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .navbar:hover {
    width: 100vh;
    height: 5rem;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: #0e1e30;
    width: 5rem;
    height: 5rem;
    color: #1EE79E;
  }

  .nav-item:last-child {
    margin-top: 0;
  }


}
