<!-- As a heading -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">References</span>
  <div class="navbar-collapse collapse" style="padding: 20px;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">ENTRAR</a>
      </li>
    </ul>
  </div>
</nav>


<body>

  <img class="wave1" src="../../../assets/svgs/retangle-left.svg" alt="">
  <div class="container mt-5">
    <div class="row ">
      <div class="col-md-8 texto1 ">
        <p class="textTop">Crie suas <b>referências</b> de <br> maneira <b>rápida</b> e <b>fácil</b></p>
      </div>
      <div class="col-md-4 align-self-center top ">
        <img class="retangle" src="../../../assets/svgs/Rectangle.svg" alt="">
        <div uk-scrollspy="cls: uk-animation-slide-left; repeat: true">


          <div class="card">
            <div class="card-body">
              <!-- <form class="uk-form-stacked"> -->
              <form [formGroup]="form" class="uk-form-stacked">

                <div>
                  <label class="uk-form-label" for="form-stacked-text">Nome de usuário*</label>
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input formControlName="username" class="uk-input" id="form-stacked-text" type="text"
                      placeholder="Este dado será usado para login.">
                  </div>
                </div>

                <div class="uk-margin-top">
                  <label class="uk-form-label" for="form-stacked-text">Nome completo*</label>
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input formControlName="first_name" class="uk-input" id="form-stacked-text" type="text"
                      placeholder="Primeiro nome.">
                  </div>
                </div>

                <div class="uk-margin-top">
                  <label class="uk-form-label" for="form-stacked-text">Email*</label>
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input formControlName="email" class="uk-input" id="form-stacked-text" type="text"
                      placeholder="Insira seu email.">
                  </div>
                </div>

                <div class="uk-margin-top">
                  <label class="uk-form-label" for="form-stacked-text">Senha*</label>
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input formControlName="password" class="uk-input" id="form-stacked-text" type="password"
                      placeholder="Sua senha super forte.">
                  </div>
                </div>

                <div style="padding: 10px;">
                  <button type="button" class="btn mb-2" style="width: 100%;" (click)="register()">Cadastrar</button>
                  <!-- <small>Ao clicar, você concorda com os termos de serviço e Politica de privacidade.</small> -->
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="texto1">Tudo em um só lugar</p>
          <small>Nossa plataforma conta com uma dashboard, onde os usuários poderam salvar suas referências, bem como
            criar outras</small>
        </div>
        <div class="col-md-6">

        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <p class="texto1">Fácil e prático</p>
          <small>É possivel fazer download dos arquivos criados em formato docx, agilizando o processo para o usuário
          </small>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p style="margin: 0;">Desenvolvido by Samuel Germano</p>
    <p>Copyright 2020</p>
  </footer>

</body>
