 /* component-name.component.scss */
 @import 'variables';

 .bg-dark {
   background-color: #3790e900 !important;
 }

 .top {
   height: 100vh
 }

 .navbar-dark .navbar-nav .nav-link {
   margin-right: 50px;
   color: #323259;
 }

 .navbar-dark .navbar-brand {
   color: #323259;
   margin-left: 50px;
   font-size: 35px;
 }

 .texto1 {
   font-size: 50px;
   font-weight: 300;
   position: relative;
   animation: textOut 3s ease-out 0s 1;
 }

 .card {
   width: 24.75rem;
   height: 29rem;
   background: #0d1926;
   box-shadow: 0px 4px 35px 15px rgba(0, 0, 0, 0.02);
   border-radius: 9px;
   z-index: 1;
   position: relative;
   margin: 1.68em 0 0 -1.8em;
 }

 .retangle {
   z-index: 0;
   height: 31rem;
   width: 28rem;
   animation: 1s ease-out 0s 1 moveBar;
   position: absolute;
 }

 .wave1 {
   position: absolute;
   top: 25rem;
   animation: moveWave1 3s ease-in infinite alternate;
 }

 @keyframes moveWave1 {
   from {
     transform: translateY(8px);
   }
 }

 @keyframes moveBar {
   0% {
     transform: translateX(-30%);
   }

   100% {
     transform: translateX(0);
   }
 }

 @keyframes textOut {
   0% {
     color: #0d19260e;
   }

   100% {
     color: #0d1926;
   }
 }

 footer {
   bottom: 0;
   left: 0;
   text-align: center;
   margin-top: 50px;
   color: #847f7f;
 }


 button {
   background: #1ee79e;
   border-radius: 8px;
   color: #0d1926;
   height: 50px;
   font-size: 25px;
   transition: all 250ms ease-in-out;
   cursor: pointer;

   &:hover {
     background-color: #11BE7F;
   }

   &:focus {
     outline: none;
   }
 }

 input {
   background-color: rgba(0, 0, 0, 0) !important;
   border: 0.5px solid #ffffff;
   height: 50px;
   border-radius: 6px;
   transition: all 250ms ease-in-out;

   &:focus {
     outline: none;
     box-shadow: 0px 0px 12px 0.8px #1a1b1a;
   }
 }

 form {
   color: white;
 }

 @media only screen and (max-width: 600px) {
   .card {
     width: 20rem;
     height: 28rem;
     background: #0d1926;
     box-shadow: 0px 4px 35px 15px rgba(0, 0, 0, 0.02);
     border-radius: 9px;
     margin: 25% auto 25%;
   }

   .retangle {
     display: none;
   }


   .wave1 {
     display: none;
   }

   .texto1 {
     .textTop {
       font-size: 6vh;
       font-weight: 300;
       text-align: center;
       animation: textOut 3s ease-out 0s 1;
     }

   }

   small {
     text-align: left;
   }

   .top {
     height: 80vh
   }
 }
