.box {
  height: 100vh;
  width: 100%;

  .col-md-4 {
    background: rgb(255, 255, 255);
    height: 100vh;

    .container {
      margin: 0;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }

  .col-md-8 {
    background: #0D1926 no-repeat center center / cover !important;
    height: 100vh;
  }

}


.uk-input {
  width: 100vh;
  height: 45px;
  border-radius: 6px;
}

.uk-button {
  margin: 0 auto;
  display: block;
  border-radius: 6px;
}
