<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="box">
    <div class="row no-gutters">
      <div class="col-md-4 form">
        <div class="container">
          <h1 class="login-card-description mb-5">Olá, seja bem vindo</h1>


          <form [formGroup]="form" class="uk-form-stacked">

            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Nome de usuário*</label>
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input formControlName="username" class="uk-input" id="form-stacked-text" type="text"
                  placeholder="Insira seu nome de usuário.">
              </div>
            </div>

            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Senha*</label>
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input formControlName="password" class="uk-input" id="form-stacked-text" type="password"
                  placeholder="Sua senha super forte.">
              </div>
            </div>

            <!-- <a style="float: right;" href="#modal-center" class="mb-3" uk-toggle>Esqueceu sua senha?</a> -->
            <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom" (click)="login()"
              type="button" [disabled]='form.invalid'>Entrar</button>
            <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
              routerLink="/">Cadastrar-se</button>
          </form>



          <!-- <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

              <button class="uk-modal-close-default" type="button" uk-close></button>
              <form [formGroup]="form2" class="uk-form-stacked">
                <div class="uk-margin">
                  <label class="uk-form-label" for="form-stacked-text">Seu email</label>
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input formControlName="email" class="uk-input" id="form-stacked-text" type="text"
                      placeholder="Insira seu email.">
                  </div>
                </div>
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Recuperar Senha</button>
              </form>
            </div>
          </div> -->


        </div>

      </div>
      <div class="col-md-8">
        <!-- <img src="./assets/img/loginok.png" alt="login" class="login-card-img" /> -->
      </div>
    </div>

  </div>
</main>
