.content {
  width: (100%, 200px);
  padding: 20px;
  margin-left: 200px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}


.uk-card {
  border-radius: 10px;
  padding: 30px;

  .uk-card-badge {
    position: absolute;
    right: 1.3rem;
    top: 0.5rem;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

}

.uk-button {
  float: right;
}

.uk-input {
  width: 100vh;
  height: 45px;
  border-radius: 6px;
}

.uk-form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  display: contents;
  align-items: center;
}

.uk-form-icon:hover {
  color: #1EE79E;
}

.list-icon {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
}

.list-icon:hover {
  color: #1EE79E;
}


@media screen and (max-width: 780px) {
  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  
}
