<app-side-menu></app-side-menu>
<div class="content">

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8">
        <h1>Seus Trabalho</h1>
      </div>
      <p uk-margin>
        <button class="uk-button uk-button-danger" href="#modal-center" uk-toggle>Criar novo trabalho</button>
      </p>
      <div class="col-md-4">
        <div id="modal-center" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form [formGroup]="form" class="uk-form-stacked">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Nome do trabalho</label>
                <div class="uk-inline">
                  <!-- <span class="uk-form-icon" uk-icon="icon: file-text"></span> -->
                  <input formControlName="nome" class="uk-input" id="form-stacked-text" type="text"
                    placeholder="Insira o nome a seu trabalho...">
                </div>
              </div>
              <p uk-margin>
                <button class="uk-button uk-button-danger uk-modal-close " (click)="criarTrabalho()">Criar
                  Trabalho</button>
              </p>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="cards-trabalhos mt-5">


      <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>

        <div *ngFor="let trabalhos of list_works">
          <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 200px">
            <span uk-icon="icon: more; ratio:2" class="uk-card-badge "></span>
            <div uk-drop="pos: bottom-left; animation: uk-animation-slide-top-small; duration: 500 ">
              <div class="uk-card uk-card-body uk-card-secondary" style="width: 12rem;">
                <div class="list-icon" (click)="visualizar(trabalhos)">
                  <i class="uk-form-icon" uk-icon="icon: file-text"></i>
                  <p class="uk-text-top">Visualizar</p>
                </div>

                <!-- <div class="list-icon">
                  <span class="uk-form-icon" uk-icon="icon:  file-edit"></span>
                  <p class="uk-text-top">Editar</p>
                </div> -->

                <div class="list-icon">
                  <span class="uk-form-icon" uk-icon="icon: trash"></span>
                  <p class="uk-text-top" (click)="excluirTrabalho(trabalhos.id)">Excluir</p>
                </div>
              </div>
            </div>
            <p class="uk-text-small uk-text-center ">{{trabalhos.nome}}</p>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
